##################
# UNWANTED FILES #
##################
._*
*.gz
*.md
*.7z
*.mov
*.mp4
*.mp3
*.txt
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.env
*.bat
*.lnk
cg20.*
*.rest
env.json
thumbs.db
Thumbs.db
*env.json
.gitignore

ASSETS/default_assets.txt
kubernetes/keys/*
*.tfstate*
